.navbar-brand{
    /* margin: 1em; */
    /* margin-left: 1.5em; */
    color: darkgrey;
    font-size: 1.5em;
}

.parallax{
    height: 300px;
    background: gray;
    /* background-image: url("../images/business card photo.jpeg"); */
    position: relative;
}