<footer class="has-text-centered">
    <div class="container">
       <div class="columns">
        <div class="column is-8-desktop is-offset-2-desktop">
            <div class="contact-links has-text-light">
              <a aria-label="LinkedIn profile for Jake" href="https://www.linkedin.com/in/jakesimmens/" target="_blank" rel="noopener noreferrer"><i class="fab fa-linkedin logo"></i></a>
              <a aria-label="Github profile for Jake" href="https://github.com/JakeSimmens" target="_blank" rel="noopener noreferrer"><i class="fab fa-github-square logo"></i></a>
            </div>
        </div>
      </div>
    </div>
  </footer>
  <script type="text/javascript" src="js/main.js"></script>
</body>
</html>