<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Jake Simmens - Software Engineer</title>
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/index.css">

  </head>
  <body>
    <section>
      <div class="parallex"></div>
    </section>

    <section>
        <nav class="navbar is-fixed-top" role="navigation">
          <div class="navbar-brand">
            <a class="navbar-item" href="/">Jake Simmens</a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
            </a>
          </div>  

          <div class="navbar-menu">
            <div class="navbar-end">
              <div class="navbar-item">
                  <a class="button" href="">About</a>
              </div>
              <div class="navbar-item">
                <a class="button" href="#project_section">Projects</a>
              </div>
              <div class="navbar-item">
                <a class="button" href="/blog">Blog</a>
              </div>
              <div class="navbar-item">
                <a class="button" href="#contact_section">Contact</a>
              </div>
            </div>
          </div>
        </nav>
    </section>