<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Jake Simmens - Software Engineer</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap&family=Roboto+Slab:wght@500" rel="stylesheet"> 
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/index.css">
    <script src="https://kit.fontawesome.com/6b85eadd03.js" crossorigin="anonymous"></script>

  </head>
  <body>
    <div class="parallex"></div>

    <section>
        <nav class="navbar is-fixed-top" role="navigation">
          <div class="navbar-brand">
              <a class="navLogoBox" href="/">
                <img class="navLogo" src="/images/logo-JSgrayRect.png" alt="Jake Simmens">
              </a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="menuOptions">
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
            </a>
          </div>  

          <div class="navbar-menu" id="menuOptions">
            <div class="navbar-end">
                <a aria-label="About section shortcut" class="navbar-item has-text-centered close-burger-onclick" href="#about_section">About</a>
                <a aria-label="Projects section shortcut" class="navbar-item has-text-centered close-burger-onclick" href="#project_section">Projects</a>
                <!-- <a aria-label="Link to resume" class="navbar-item has-text-centered close-burger-onclick" href="https://github.com/JakeSimmens" target="_blank" rel="noopener noreferrer">Resume</a> -->
                <a aria-label="Link to Github profile" class="navbar-item has-text-centered close-burger-onclick" href="https://github.com/JakeSimmens" target="_blank" rel="noopener noreferrer">GitHub</a>
                <a aria-label="Contact section shortcut" class="navbar-item has-text-centered close-burger-onclick" href="#contact_section">Contact</a>
            </div>
          </div>
        </nav>
    </section>