<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Jake Simmens - Software Engineer</title>
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/index.css">

  </head>
  <body>
    <section>
      <div class="parallex"></div>
    </section>

    <section>
        <nav class="navbar" role="navigation">
          <div class="navbar-brand">
            <a class="navbar-item">Jake Simmens</a>
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
            </a>
          </div>
          <div class="navbar-menu">
            <div class="navbar-end">
              <div class="navbar-item">
                  <a class="button" href="">About</a>
              </div>
              <div class="navbar-item">
                <a class="button" href="#project_section">Projects</a>
              </div>
              <div class="navbar-item">
                <a class="button" href="/blog">Blog</a>
              </div>
              <div class="navbar-item">
                <a class="button" href="#contact_section">Contact</a>
              </div>
          </div>
          </div>
        </nav>
    </section>

    <section>
      <div class="hero is-primary is-medium">
        <div class="hero-body">
          <div class="columns is-vcentered">
            <div class="column is-centered is-one-third">
              <div class="level">
                <div class="level-item has-text-centered">
                  <p class="title is-1">Jake</p>
                </div>
              </div>
              <div class="level">
                <div class="level-item has-text-centered">
                  <p class="title is-1">Simmens</p>
                </div>
              </div>
            </div>
            <div class="column is-centered is-one-third">
              <div class="level">
                <div class="level-item has-text-centered">
                  <figure class="image">
                    <img src="./images/business card photo.jpeg" alt="Smiling photo of Jake Simmens in a suit and purple tie" class="is-rounded hero-head">
                  </figure>
                </div>
              </div>
            </div>
            <div class="column is-centered is-one-third">
              <div class="level">
                <div class="level-item has-text-centered">
                  <p class="subtitle is-3">Software</p>
                </div>
              </div>
              <div class="level">
                <div class="level-item has-text-centered">
                  <p class="subtitle is-3">Engineer</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="projects" class="section">
      <div class="columns">
        <div class="column is-flex">
          <a id="project_section"></a>
          <article class="box">
            <h3 class="title">jReads Book App</h3>
            <figure class="image is-4by3">
              <img src="images/bookAppHome.png" alt="Screenshot of jReads Book App home screen displaying book shelf with two rows of book covers.">
            </figure>
            <p class="content">For my love of reading, this JavaScript app using Node and Express to store books of interest for each user and comment on books.</p>
            <a href="">Visit Site</a>
            <p><a href="https://github.com/aerojake/book-shelf">Github</a></p>
          </article>
        </div>
        <div class="column is-flex">
          <article class="box">
            <h3 class="title">Risk Dice Game</h3>
            <figure class="image is-4by3">
              <img src="images/diceGame.png" alt="Screenshot of Risk Dice game showing total remaining attacking and defending armies along with the results of 3 attacking armies versus 2 defending armies dice roll">
            </figure>
            <p class="content">Inspired by the board game Risk, this javascript app allows the users to play out the dice battles from the game.</p>
            <a href="">Visit Site</a>
            <p><a href="https://github.com/aerojake/dice-game">Github</a></p>
          </article>
        </div>
        <div class="column is-flex">
          <article class="box">
            <h3 class="title">React Calculator</h3>
            <figure class="image is-4by3">
              <img src="images/reactCalcScreenShot.png" alt="Screenshot of a basic calculator with /, x, -, +, and exponents">
            </figure>
            <p class="content">Calculator project working with React.</p>
            <a href="">Visit Site</a>
            <p><a href="https://github.com/aerojake/react-calculator">Github</a></p>
          </article>
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <article class="tile is-child box">Project 4</article>
        </div>
        <div class="column">
          <article class="tile is-child box">Project 5</article>
        </div>
        <div class="column">
          <article class="tile is-child box">Project 6</article>
        </div>
      </div>
    </section>

    <section class="section">
      <div class="columns">
        <div class="column">
          <div class="box">
            <ul>
              <li>Backend</li>
              <li>JavaScript</li>
              <li>Node.js with Express.js</li>
              <li>MongoDB</li>
            </ul>
          </div>
        </div>
        <div class="column">
          <div class="box">
            <ul>
              <li>React</li>
              <li>Bootstrap</li>
              <li>Bulma</li>
              <li>HTML/CSS</li>
            </ul>
          </div>
        </div>
        <div class="column">
          <div class="box">
            <ul>
              <li>Other Experience</li>
              <li>Bachelor's in Computer Science</li>
              <li>C++</li>
              <li>Java</li>
              <li></li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <section class="section darkBackground">
        <div class="columns">
          <a id="contact_section"></a>
          <div class="column is-4">
            <div class="box">
              <p>Let's get together!</p>
              <div class="content">
                <ul>
                  <li>jakesimmens.com</li>
                  <li>LinkedIn</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="column is-8">
            <div class="box">
              <form action="/" method="POST">

                <div class="field">
                  <label for="contactName" class="label">Name</label>
                  <div class="control">
                    <input name="contactName" type="text" class="input">
                  </div>
                </div>

                <div class="field">
                  <label for="email" class="label">Email</label>
                  <div class="control">
                    <input name="email" type="text" class="input">
                  </div>
                </div>

                <div class="field">
                  <label for="message" class="label">Message</label>
                  <div class="control"></div>
                    <textarea name="message" id="" cols="30" rows="10" class="textarea" placeholder="How may I help you?"></textarea>
                  </div>
                </div>
                <div class="field is-grouped">
                  <div class="control">
                    <button class="button">Submit</button>
                  </div>
                  <div class="control">
                    <button class="button">Cancel</button>
                  </div>
                </div>

              </form>
            </div>
          </div>
        </div>
    </section>
    <footer class="footer has-text-centered">
      <div class="container">
         <div class="columns">
          <div class="column is-8-desktop is-offset-2-desktop">
            <p style="margin-top: 1rem;">
              <a href="http://bulma.io">
                <img src="images/made-with-bulma.png" alt="Made with Bulma" width="128" height="24">
              </a>
            </p>
          </div>
        </div>
      </div>
    </footer>
    <script type="text/javascript" src="js/main.js"></script>
  </body>
</html>
