<%- include("./partials/header") %>

    <section>
      <div class="hero is-primary is-medium">
        <div class="hero-body">
          <div class="columns is-vcentered">

            <div class="column is-centered is-5">
              <div class="level">
                <div class="level-item has-text-centered">
                  <figure class="image">
                    <img src="./images/business card photo.jpeg" alt="Smiling photo of Jake Simmens in a suit and purple tie" class="is-rounded hero-head">
                  </figure>
                </div>
              </div>
            </div>
            <div class="column is-centered is-1">

            </div>
            <div class="column is-4">
                <h1 class="hero-name">Jake Simmens</h1>
                <p class="subtitle is-5 hero-subtitle">Building Node.js Express backends to host your website.</p>
                <a href="#contact_section" class="button">Contact Me</a>
            </div>
            <div class="column is-centered is-2">

            </div>




          </div>
        </div>
      </div>
    </section>

    <a id="about_section"></a>
    <section class="section">

      <div class="columns is-centered">
        <div class="column is-8 has-text-justified">
          
          <p>
            Studying technology and reading about history have been enjoyments in my life.  My Software Engineering path began with a True Basic class in high school followed by a Computer Science Degree from Iowa State University.  My focus is on backend development using JavaScript, Node.js, and Express.
          </p>

        </div>
      </div>

    </section>

    <a id="project_section"></a>
    <section class="section projects">
      <div class="columns">
        <div class="column is-flex">
          <article class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="images/bookAppHome.jpg" alt="Screenshot of jReads Book App home screen displaying book shelf with two rows of book covers.">
              </figure>
            </div>
            <div class="card-content">
              <h3 class="title has-text-centered has-text-light">jReads Books</h3>
              <p class="content">For my love of reading, this JavaScript app using Node and Express to store books of interest for each user and comment on books.</p>
            </div>
            <div class="card-footer">
              <a class="card-footer-item" href="">Visit Site</a>
              <a class="card-footer-item" href="https://github.com/JakeSimmens/book-shelf" target="_blank" rel="noopener noreferrer">Github</a>
            </div>

          </article>
        </div>

        <div class="column is-flex">
          <article class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="images/diceGame.png" alt="Screenshot of Risk Dice game showing total remaining attacking and defending armies along with the results of 3 attacking armies versus 2 defending armies dice roll">
              </figure>
            </div>
            <div class="card-content">
              <h3 class="title has-text-centered has-text-light">Risk Dice</h3>
              <p class="content">Inspired by the board game Risk, this javascript app allows the users to play out the dice battles from the game.</p>
            </div>
            <div class="card-footer">
              <a class="card-footer-item" href="">Visit Site</a>
              <a class="card-footer-item" href="https://github.com/JakeSimmens/dice-game" target="_blank" rel="noopener noreferrer">Github</a>
            </div>
          </article>
        </div>

        <div class="column is-flex">
          <article class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="images/AWAuto.jpg" alt="Home page for auto mechanic shop">
              </figure>
            </div>
            <div class="card-content">
              <h3 class="title has-text-centered has-text-light">A&W Automotive</h3>
              <p class="content">A website developed for a local auto repair shop using Bootstrap and Node/Express on the back-end.</p>
            </div>
            <div class="card-footer">
              <a class="card-footer-item" href="">Visit Site</a>
              <a class="card-footer-item" href="https://github.com/JakeSimmens/aw-auto" target="_blank" rel="noopener noreferrer">Github</a>
            </div>
          </article>
        </div>
      </div>
    </section>

    <section class="section">
      <div class="columns">
        <div class="column is-2 is-offset-4-mobile is-offset-3-tablet">
          <article class="media">
            <div class="level">
              <figure class="media-left">
                <p class="image is-48x48">
                  <img src="images/JavaScript_logo_245px.png" alt="">
                </p>
              </figure>
              <div class="media-content">
                <div class="content">
                  <p><strong>JavaScript</strong></p>
                </div>
              </div>
            </div>
          </article>

          <article class="media">
            <div class="level">
              <figure class="media-left">
                <p class="image is-48x48">
                  <img src="images/node-js-logo.png" alt="">
                </p>
              </figure>
              <div class="media-content">
                <div class="content">
                  <p><strong>Node.js</strong></p>
                </div>
              </div>
            </div>
          </article>

          <article class="media">
            <div class="level">
              <figure class="media-left">
                <p class="image is-48x48">
                  <img src="images/expressjs-logo.png" alt="">
                </p>
              </figure>
              <div class="media-content">
                <div class="content">
                  <p><strong>Express.js</strong></p>
                </div>
              </div>
            </div>
          </article>

          <article class="media">
            <div class="level">
              <figure class="media-left">
                <p class="image is-48x48">
                  <img src="images/mongodb-logo.png" alt="">
                </p>
              </figure>
              <div class="media-content">
                <div class="content">
                  <p><strong>MondgoDB</strong></p>
                </div>
              </div>
            </div>
          </article>
        </div>

        <div class="column is-2 is-offset-4-mobile is-offset-2-tablet">
          <article class="media">
            <div class="level">
              <figure class="media-left">
                <p class="image is-48x48">
                  <img src="images/bootstrap-logo.png" alt="">
                </p>
              </figure>
              <div class="media-content">
                <div class="content">
                  <p><strong>Bootstrap</strong></p>
                </div>
              </div>
            </div>
          </article>

          <article class="media">
            <div class="level">
              <figure class="media-left">
                <p class="image is-48x48">
                  <img src="images/bulma-logo.png" alt="">
                </p>
              </figure>
              <div class="media-content">
                <div class="content">
                  <p><strong>Bulma</strong></p>
                </div>
              </div>
            </div>
          </article>

          <article class="media">
            <div class="level">
              <figure class="media-left">
                <p class="image is-48x48">
                  <img src="images/React_logo.png" alt="">
                </p>
              </figure>
              <div class="media-content">
                <div class="content">
                  <p><strong>React</strong></p>
                </div>
              </div>
            </div>
          </article>

          <article class="media">
            <div class="level">
              <figure class="media-left">
                <p class="image is-48x48">
                  <img src="images/html-css.png" alt="">
                </p>
              </figure>
              <div class="media-content">
                <div class="content">
                  <p><strong>HTML/CSS</strong></p>
                </div>
              </div>
            </div>
          </article>

        </div>
      </div>
    </section>

    <a id="contact_section"></a>
    <section class="section">
        <div class="columns">
          <div class="column is-4">
            <div class="box">
              <p>Let's get together!</p>
              <div class="content">
                <ul>
                  <li>jakesimmens.com</li>
                  <li>LinkedIn</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="column is-8">
            <div class="box">
              <form action="/" method="POST">

                <div class="field">
                  <label for="contactName" class="label">Name</label>
                  <div class="control">
                    <input name="contactName" type="text" class="input">
                  </div>
                </div>

                <div class="field">
                  <label for="email" class="label">Email</label>
                  <div class="control">
                    <input name="email" type="text" class="input">
                  </div>
                </div>

                <div class="field">
                  <label for="message" class="label">Message</label>
                  <div class="control"></div>
                    <textarea name="message" id="" cols="30" rows="10" class="textarea" placeholder="How may I help you?"></textarea>
                  </div>
                </div>
                <div class="field is-grouped">
                  <div class="control">
                    <button class="button">Submit</button>
                  </div>
                  <div class="control">
                    <button class="button">Cancel</button>
                  </div>
                </div>

              </form>
            </div>
          </div>
        </div>
    </section>


<%- include("./partials/footer") %>
