.navbar {

}

.navLogoBox {
    padding: 0;
    margin: 0;
    height: 50px;
}

.navLogo {
    padding-left: 15px;
    height: 50px;
}

.parallex{
    /* Background pattern crossword.png from Toptal Subtle Patterns */
    height: 100%;
    width: 100%;
    background-image: url("../images/crossword.png");
    background-repeat: repeat;
    position: fixed;
    z-index: -1;
}

#projects {
    /* background and height added to try out parallex effect */
    margin-top: 0px;  /*margin needed to see parallex*/
}

.darkBackground {
    /* background: rgb(1, 1, 47); */
    /* background: #1b263bff; */
}

.box {
    background-color: rgba(70, 77, 85, 0.90);
    color: white;
}

.hero-body {
    padding-top: 100px;
    font-family: "Montserrat";
}

.hero-name {
    font-size: 3em;
    font-family: "Roboto";
    margin: 0;
    text-align: center;
    justify-content: center;
    height: 55px;
}

.hero-subtitle {
    padding-top: 30px;
    text-align: center;
}

.hero-head {
    max-width: 250px;
}



.media {
    border: none;
}

