.navbar {
    /* position:fixed;
    width: 100%; */
}
.navbar-brand{
    color: darkgrey;
    font-size: 1.5em;
}

.parallex{
    /* Background pattern crossword.png from Toptal Subtle Patterns */
    height: 100%;
    width: 100%;
    background-image: url("../images/crossword.png");
    background-repeat: repeat;
    position: fixed;
    z-index: -1;
}

#projects {
    /* background and height added to try out parallex effect */
    /* background: black; */
    margin-top: 150px;  /*margin needed to see parallex*/
}

.darkBackground {
    /* background: rgb(1, 1, 47); */
    /* background: #1b263bff; */
}

.box {
    background-color: rgba(70, 77, 85, 0.90);
    color: white;
}

