
.navLogoBox {
    padding: 0;
    margin: 0;
    height: 50px;
}

.navLogo {
    padding-left: 15px;
    height: 50px;
}

.parallex{
    /* Background pattern from Toptal Subtle Patterns */
    height: 100%;
    width: 100%;
    background-image: url("../images/wood_1.png");
    background-repeat: repeat;
    position: fixed;
    z-index: -1;
}

.box {
    background-color: rgba(70, 77, 85, 0.90);
    color: white;
}

.hero-body {
    padding-top: 100px;
    font-family: "Montserrat";
}

.hero-name {
    font-size: 3em;
    font-family: "Roboto";
    margin: 0;
    text-align: center;
    justify-content: center;
    height: 55px;
}

.hero-subtitle {
    padding-top: 40px;
    text-align: center;
}

.hero-head {
    max-width: 250px;
}

#about {
    font-size: 1.25em;
}

#about p {
    margin: 30px;
}

.projects .card {
    /* background-color:  rgba(70, 77, 85, 0.90); */
    font-family: "Roboto";
    border-radius: 5px;
    width: 100%;
    margin-bottom: 50px;
}

.projects .card img{
    border-radius: 5px 5px 0px 0px;
}

.projects .card h3 {
    margin-top: 20px;
    font-size: 1.5em;
}

.projects article .content {
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: justify;
}

.projects article .card-footer-item {
    border: none;
}
.projects article .card-footer {
    border: none;
}

.skillName {
    color: white;
    font-weight: 700;
}