@charset "utf-8";

// Customization

// 1. Import the initial variables
@import "../node_modules/bulma/sass/utilities/initial-variables";

// Update the sans-serif font family
$family-sans-serif: "Roboto", "Arial", sans-serif;

//currently used colors
$yale-blue: #274c77ff;
$baby-blue-eyes: #a3cef1ff;
$cerulean-frost: #6096baff;
$dark-gray-text: #292929;

///// MY OPTIONS ///////////////

// 3. Set the derived variables
$primary: $yale-blue;
$link: $cerulean-frost;
$info: $cerulean-frost;
$text: $dark-gray-text;
$column-gap: .35rem;

// 4. Import the rest of Bulma
@import "../node_modules/bulma/bulma";


